@import 'assets/scss/custom-material-theme.scss';
@import 'assets/scss/1-settings/_variables.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  background-color: var(--background-primary);
}

.snackbar-exito {
  --mdc-snackbar-container-color: #4caf50; // Verde
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;
}

.snackbar-error {
  --mdc-snackbar-container-color: #f44336; // Rojo
  --mdc-snackbar-supporting-text-color: #ffffff;
  --mat-snack-bar-button-color: #ffffff;
}