@import 'assets/scss/custom-material-theme.scss';
@import 'assets/scss/1-settings/_variables.scss';

html, body {
  height: 100%;
  margin: 0;
  font-family: 'Roboto', "Helvetica Neue", sans-serif;
  background-color: var(--background-primary);
}